body {
    background-image: url("image.png");
    background-size: 100% 100vh;
}
.Button {
    border: 0;
    border-radius: 10px;
    background-color: #fff8;
    transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    font-size: 1vh;
}
.Button:hover {
    box-shadow: 3px 3px 10px #0006;
    font-size: 1.35vh;
}
#button_1 {
    margin: 40vh 35%;
    min-width: 30%;
    min-height: 5vh;
}